/.idea/
.idea/workspace.xml

workspace.xml

data/

document tags.txt

prbs-ue02-12024183/

target
target/*

.idea

.ipynb_checkpoints
.RData
.Rhistory
EdgarDataMining.iml
/target/
/target/classes

UE 4

/UE 4/
/UE 4/*

/"UE 04"/
/"UE 04"/*

src/main/resources
